@charset "UTF-8";

/*
Paleta de cores
    Marrom: #EB952D
    Escuro: #9E5E0F
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #9E5E0F;
}

main{
    min-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section{
    display: flex;
}
section#login{
    
    height: 500px;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
}

div#img{
height: 200px;
background: brown url(../imagens/login.jpg) center center fixed;
background-size: cover;
border-radius: 20px 20px 0px 0px; 
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.288);
}


div#formulario{
    padding: 0px 15px 20px 15px;
    height: 300px;
    background-color:white;
    border-radius: 0px 0px 20px 20px;
    
}

h1{
    text-align: center;
}

div#formulario p {
    text-align: justify;
}

