@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #dba66698;
    width: 100vw;
}

main{
    position: relative;
    height: 90vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 280px;
    height: 540px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.288);
    overflow: hidden;
}

section#login > div#img{
    display: block;
    background: #4a2a03d7 url(../imagens/login.jpeg) no-repeat center top fixed;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
    
}

div#formulario > h1{
    text-align: center;
    padding-bottom: 10px;
}

div#formulario > #subtitulo{
    text-align: center;
}

div#formulario p {
    text-align: justify;
    line-height: 1.5;
}

form > div.campo{
    background-color: #4a2a03d7;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    vertical-align: middle;
}

div.campo > input{
    background-color: #f8e7d2;
    font-size: 1em;
    height: 80%;
    width: 81%;
    border: 0px;
    border-radius: 8px;

}

div.campo > input:focus-within{
    background-color: white;
    border: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#a15a04da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color:#cf7302b5;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 5px;
    background-color: #ca7206e1;
    color: #3a2103;
    border: 1px solid #3a2103;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #cf7302b5;
}

form > a.botao > span {
    vertical-align: middle;
    font-size: 1em;
}
/*#4a2a03d7;*/




