@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #dba66698;
}

main{
    background-color: bisque;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
}



div#img{
    height: 200px;
    width: auto;
    background: #4a2a03d7 url(../imagens/login.jpeg) top center fixed;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

div#formulario{
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

h1, div#formulario .subtitulo{
    text-align: center;
}

div#formulario p {
    text-align: justify;
    margin: 10px;
    line-height: 1.5;
}


label{
    display: inline-block;
    width: -webkit-fill-available;
    background-color: #4a2a03d7;
    margin: 3px 0px;
    border-radius: 15px;
    padding: 5px 0px;
    
}

.texto{
    height: 35px;
    width: 220px;
    border-radius: 10px;
    border-width: 0px;
}

#lock, #person{
    vertical-align: middle;
    color: white;
    padding-left: 5px;
}

.botao{
    display: block;
    width: -webkit-fill-available;
    height: 40px;
    margin: 2px 0px;
    border: 0px;
    border-radius: 5px; 
}



#botao-entrar{
    background-color: #c07b26d7;
    color: black;
    font-weight: bolder;
}

#botao-senha{
    background-color: #eca34b59;
    font-weight: bolder;
}

#carta {
    font-size: 18px;
    vertical-align: middle;
    color: #764304d7;
}








